<footer class="section has-background-grey-dark has-text-grey-light">
    <div class="columns has-text-centered">
      <div class="column desktop"></div>
      <div class="column"><p><span class="has-text-weight-bold">Located in</span> <br> Spokane, WA</p></div>
      <div class="column"><p><span class="has-text-weight-bold">Contact me at</span> <br> jeremykingdesign@gmail.com</p></div>
      <div class="column"><p><span class="has-text-weight-bold">instagram</span> <br> kingly_design</p></div>
      <div class="column"><p><span class="has-text-weight-bold">GitHub</span> <br><a href="https://github.com/jeking123/www.thinkingdesign.studio">Thinking Design Github Repo</a></p></div>
      <div class="column desktop"></div>
    </div>
  </footer>
  
  <section class="footer has-background-black-ter">
    <div class="has-text-grey has-text-centered">
      <p>&copy; Copyright Thinking Design 2018</p>
    </div>
  </section>