<header class="has-background-grey has-text-white navbar">
  <div>
    <div class="columns is-fullwidth">
      <div class="column is-offset-two-fith is-one-fifth">
      <a href="index.html">
      <img src="assets/img/thinkingdesign-update.svg" alt="Thinking Design Logo">
      </a>
      </div>
    </div>
  </div>
  <div>
    <div class="columns is-fullwidth">
      <div class="column"></div>
      <div class="column">
        <a class="has-text-light" href="hireme.html">Hire Me</a>
      </div>
      <div class="column">
        <a class="has-text-light" href="https://www.instagram.com/kingly_design/"><i class="fab fa-instagram"></i></a>
      </div>
      <div class="column">
        <a class="has-text-light" href="https://www.linkedin.com/in/jeremy-king-503332b8/"><i class="fab fa-linkedin-in"></i></a>
      </div>
      <div class="column"></div>

    </div>
  </div>
</header>