<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta charset="UTF-8">
<title>{{ site.title }}</title>

<!-- iOS MetaTags -->
<!-- Change Name of App -->
<meta name="apple-mobile-web-app-title" content="My Progressive Web App">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

<!-- iOS Splash Screen & Favicons for iPhones. Create your own iPad sizes -->
<link href="/img/favicons/apple_splash_750.png" sizes="750x1334" rel="apple-touch-startup-image" />
<link href="/img/favicons/apple_splash_640.png" sizes="640x1136" rel="apple-touch-startup-image" />
<link href="/img/favicons/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180" >

<!-- Favicons. Not iOS -->
<link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicons/favicon-16x16.png">

<!-- Styles -->
<!--     <link rel="stylesheet" href="/assets/css/reset.css"> -->

<!-- Fonts -->
<link href="https://fonts.googleapis.com/css?family=Heebo:500,800" rel="stylesheet">
<script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">

<!-- MY Styles -->
<link rel="stylesheet" href="/assets/css/style.css">
